/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   My custom styles
   ========================================================================== */
p,a {
    font-family: 'Lato', sans-serif;
}

a:hover {
    text-decoration: none;
    color: #222;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Anton', sans-serif;
    color: #222;
}

.carousel-cell {
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}



@media(max-width:600px) {
    .carousel .carousel-cell {
        max-height: 50vh;
    }
}

.carousel .carousel-cell:nth-child(1) {
    background-image: url('../img/banner-bg.jpg');
}

.carousel .carousel-cell:nth-child(2) {
    background-image: url('../img/banner-bg-2.jpg');
}

.carousel .carousel-cell:nth-child(3) {
    background-image: url('../img/banner-bg-3.jpg');
}

.carousel .carousel-cell .content {
    position: absolute;
    bottom: 20%;
}

.carousel .carousel-cell .content h2 {
    color: #fff;
    font-size: 5em;
}

.carousel .carousel-cell .content p {
    color: #fff;
    font-size:2em;
}

@media(max-width:600px) {
    .carousel .carousel-cell .content {
        position: absolute;
        bottom: 5%;
    }

    .carousel .carousel-cell .content h2 {
        font-size: 3em;
    }

    .carousel .carousel-cell .content p {
        font-size:1.4em;
    }

    .flickity-button {
        display:none;
    }
}

.flickity-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0px #fff;
}
.intro {
    padding: 100px 0;
}

.testimonials {
    padding: 100px 0;
}

.testimonials div {
    text-align: center;
}

.testimonials div p {
    position: relative;
    font-size: 4em;
    line-height: 1;
    padding: 15px
}

@media(max-width:600px) {
    .testimonials div p {
        font-size: 2em;
    }
}

.testimonials div p span {
    font-style: italic;
    font-size: 0.6em;
    display:block;
    padding-top:15px;
}

.slick-slide {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.slick-slide:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.skills {
    padding: 100px 0;
}

.nav-tabs {
    border-bottom: 2px solid #222;
}

.nav-tabs .nav-link {
    text-transform: capitalize;
    color: #222;
    transition: 0.5s ease;
    font-family: Anton;
    font-size: 3em;
    border-width: 2px;
}

@media(max-width:600px) {
    .nav-tabs .nav-link {
        font-size: 1.4em;
    }
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #222;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background: #222;
    border-color: #222;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url('../img/me.jpg');
    height: 80vh;
    position: relative;
    width:100%;
    padding: 0;
}

.parallax p {
    display:block;
    text-align: center;
    position: absolute;
    top: 50%;
    width:100%;
}

.parallax p a {
    width: 200px;
    background: #fff;
    color: #222;
    font-size: 4em;
    padding: 15px;
    border-radius: 15px;
    font-family: Anton;
    transition: 0.5s ease;
}

@media(max-width:600px) {

    .parallax {
        background-attachment: initial;
        height: 60vh;
        background-position: right top;
    }
    .parallax p a {
        font-size: 1.2em;
    }
}

.parallax p a:hover {
    color: #fff;
    background: #222;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.dark-bg {
    background: #222;
}

.white-bg {
    background: #fff;
    padding: 0;
}

.button-main {
    background: #fff;
    color: #222;
    padding: 15px;
    padding-right:45px;
    margin-top:15px;
    font-weight:700;
    position: relative;
    display:block;
    width: 150px;
}

.button-main i {
    transition: right 0.5s ease;
    position: absolute;
    right:20px;
    top:50%;
    transform: translate(0,-50%);
}

.button-main:hover i {
    right:5px;
}

.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg h6,
.dark-bg p {
    color: #fff;
}

.slanted-bottom {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

@media(max-width:600px) {
    .slanted-bottom {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 99%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 99%, 0 100%);
    }
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
